@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';

body {
  background-color: $favColor !important;
}

.rr-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}